######################################
#          Git ignore file           #
# https://git-scm.com/docs/gitignore #
######################################

# Editor/IDE
.idea/*
!.idea/externalDependencies.xml
!.idea/icon.svg
.vscode/*
!.vscode/extensions.json

# LuaRocks
.luarocks/
lua_modules/
lua/
luarocks/
*.src.rock
*.tar.gz
*.zip

# Temporary Files
scratch.*
scribble.*
